.singleAnswer {
  border-bottom: 1px solid white;
}

.singleAnswer input,
.singleAnswer label {
  margin: 0 0 1rem 2rem;
}

@media (max-width: 480px) {
  .singleAnswer input,
  .singleAnswer label {
    margin: 0 0 0.5rem 1rem;
  }
}
