.quizContentWrapper {
  color: white;
  background-color: #60bf81;
  width: 70%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding-top: 1rem;
  box-shadow: 2px 8px 19px -5px rgba(66, 68, 90, 1);
}

.quizContentWrapper h1 {
  text-align: center;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.navigationButtons button {
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  background-color: #93d94e;
  margin: 1rem 0;
  opacity: 1;
}

.navigationButtons button:hover {
  cursor: pointer;
  background-color: #72c81c;
}

.hideNaviButton {
  visibility: hidden;
}

.singleQuestionForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
}

.quizQuestion {
  padding: 1rem 0;
  font-size: 20px;
}

.quizErrorMessage {
  text-align: center;
}

.errorBanner {
  width: 30%;
  height: 3rem;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: red;
  opacity: 0;
}

.activeErrorBanner {
  animation: showErrorBanner 0.3s ease both;
}

@keyframes showErrorBanner {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .quizContentWrapper {
    width: 95%;
  }

  .quizContentWrapper h1 {
    font-size: 16px;
    padding: 0.5rem 0;
  }

  .navigationButtons button {
    padding: 6px 15px;
    border-radius: 6px;
    margin: 1rem 0;
  }

  .navigationButtons {
    padding: 0 0.5rem;
  }

  .errorBanner {
    width: 95%;
  }
}

@media (orientation: landscape) {
  .errorBanner {
    margin-bottom: 1rem;
    width: 70%;
  }
}
