.quizMainWrapper {
  width: 75%;
  height: 50vh;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.quizHeader {
  text-align: center;
  padding: 2rem 0;
}

/* .quizMainWrapper {
  width: 100%;
  height: 100%;
} */

/* do poprawy */

.quizMainWrapper img {
  height: 80%;
}

.quizImageAndDescription {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  align-items: flex-end;
}

.quizDescription {
  color: white;
  font-size: 20px;
  margin: 0 1rem 1rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.startQuizButton {
  padding: 8px 40px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #93d94e;
}

.startQuizButton:hover {
  cursor: pointer;
  background-color: #87e12c;
}

.quizQuestionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 3rem;
}

@media (max-width: 917px) {
  .quizMainWrapper img {
    display: none;
  }

  .quizHeader {
    text-align: center;
    padding: 0.75rem 0;
    font-size: 22px;
  }

  .quizDescription {
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .quizQuestionsWrapper {
    padding: 1rem 0 0;
  }

  .quizMainWrapper {
    position: static;
    transform: translate(0, 0);
    margin: 0 auto;
    width: 75%;
    margin-top: 10vh;
  }
}

@media (min-width: 480px) and (max-width: 1000px) {
  .quizQuestionsWrapper {
    gap: 1rem;
  }

  .quizDescription {
    font-size: 16px;
  }
}
