.profileDetailsTrigger {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.profileDetailsTrigger img {
  width: 25px;
  height: 25px;
  align-self: center;
  margin-left: 5px;
  transition: 0.2s ease;
}

.imgDropDownActive {
  transform: rotate(90deg);
}

ul.dropDownList {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: #589a8d;
  border-radius: 6px;
  width: 100%;
  top: 2.5rem;
}

ul.activeDropDownList {
  display: flex;
  flex-direction: column;
}

.listItemText {
  font-weight: normal;
  font-size: 24px;
}

.profileDetailsTrigger:hover {
  cursor: pointer;
  color: rgb(200, 205, 213);
}

li.dropDownItem {
  font-size: 18px;
  border-bottom: 1px solid white;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.dropDownItem a:hover,
li.dropDownItem:hover {
  background-color: #4a8277;
}

li.dropDownItem a,
li.dropDownItem {
  color: #fff;
  font-weight: 800;
}

li.dropDownItem a {
  margin: 0;
  display: flex;
  width: 100%;
}

li.dropDownItem:last-child {
  margin-bottom: 6px;
  border: none;
}

li.dropDownItem a img {
  display: block;
  width: 20px;
  height: 20px;
}

li.dropDownItem a h4 {
  flex-grow: 1;
  margin: 0.5rem 0 0.5rem 1rem;
}

@media (min-width: 831px) and (max-width: 950px) {
  .listItemText {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 830px) {
  .listItemText {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  ul.dropDownList {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 951px) {
  .dropDownItem a h4 {
    font-size: 14px;
  }

  .dropDownItem a img {
    width: 15px;
    height: 15px;
  }
}
