.homePageWrapper {
  display: flex;
  width: 95%;
  margin: 5rem auto 0;
}

.homeSection {
  flex-basis: 65%;
  height: 30rem;
}

.homeSection img {
  height: 100%;
  max-width: 85%;
}

.description {
  color: white;
  font-size: 20px;
}

.aboutMe {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 40%;
  position: relative;
  left: 60%;
}

.icons a img {
  max-width: 3rem;
}

@media (max-width: 768px), (orientation: landscape) {
  .homePageWrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .homeSection img {
    display: none;
  }

  .description {
    font-size: 14px;
  }

  .info h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 1rem 0 3rem;
  }

  .icons {
    width: 100%;
    position: static;
    margin: 1rem 0;
  }

  .description {
    font-size: 24px;
    padding: 0 1rem;
  }
}
