.homePageContentWrapper {
  display: flex;
  width: 95%;
  margin: 5rem auto 0;
}

.homePageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--headerHeight));
}

.homeSection {
  flex-basis: 65%;
  height: 30rem;
}

.homeSection img {
  height: 100%;
  max-width: 85%;
}

.info h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.description {
  color: white;
  font-size: 18px;
}

.aboutMe {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 40%;
  position: relative;
  left: 60%;
  margin-bottom: 2rem;
}

.icons a img {
  max-width: 3rem;
}

.technologyHeader {
  margin-bottom: 1rem;
}

ul.technologyList {
  color: white;
  list-style-type: none;
  font-size: 18px;
  list-style: "✔" inside;
}

@media ((max-width: 1024px) and (orientation: landscape)), (max-width: 1024px) {
  .homePageContentWrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .homeSection img {
    display: none;
  }

  .description {
    font-size: 14px;
  }

  .info h3,
  .technogyHeader {
    text-align: center;
    margin: 1rem 0 3rem;
  }

  .icons {
    width: 100%;
    position: static;
    margin: 1rem 0;
  }

  .description,
  ul.technologyList {
    font-size: 24px;
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  .info h3 {
    margin: 0 5% 1rem 5%;
  }
}
