.questionsNavigation {
  display: flex;
  justify-content: space-between;
  width: 70%;
  list-style-type: none;
  color: white;
}

@media (max-width: 480px) {
  .questionsNavigation {
    flex-wrap: wrap;
    width: 95%;
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  .questionsNavigation {
    flex-wrap: wrap;
    width: 70%;
  }
}
