.loginWrapper{
    margin: 10rem auto 0;
    width: 60%;
    background-color: #506266;
    border-radius: 12px;
    align-items: center;
}

form.loginInput{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.formInput{
    margin-top: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput input{
    width: 60%;
    border-radius: 6px;
    padding: 3px;
}

.formInput label{
    color: white;
    margin: 1rem 0 .5rem;
}

.formInput input{
    display: block;
}

.submitButton{
    width: 100%;
    margin: 1rem 0;
}

.submitButton button{
    font-size: 16px;
    border-radius: 6px;
    width: 62%;
    padding: 10px 20px;
    background-color: #A3AB78;
    border: none;
}

.submitButton button:hover{
    background-color: #7f8460;
    cursor: pointer;
}

.toNewAccount{
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;

}

.errorParagraph{
    color: white;
}