@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b8c66;
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
