@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins:wght@100&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(115, 122, 123);
  font-family: 'Dosis', sans-serif;
font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
