form{
    background-color: #60BF81;
    color: white;
    width: 35%;
    margin: 10rem auto 0;
    border-radius: 10px;
    box-shadow: 8px 8px 17px -7px rgba(66, 68, 90, 1);
}

form div label{
    display: block;
    font-size: 26px;
    margin: 1.5rem 0 0 .5rem;
}

.taskToDo, .option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskToDo input, .optionInput{
    width: 20rem;
    margin: .5rem 0 0 .5rem;
    border-radius: 6px;
    height: 1.5rem;
    line-height: 1.5rem; 
}

.optionInput{
    text-align: center;
    font-size: 20px;
}

.submitButton{
    font-size: 20px;
    margin: 2rem 0 .5rem;
    padding: 10px 40px;
    background-color: #93D94E;
    border:none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
}

.submitButton:hover{
    cursor: pointer;
    color: white;
}

.errorInformation{
    color: rgb(243, 208, 208);
    font-size: 18px;
    margin: 5px 0;
}