.taskListItem {
  width: 50%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(67, 114, 99);
  margin-bottom: 1rem;
  color: white;
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 8px 8px 17px -7px rgba(66, 68, 90, 1);
}

.taskListItem h2 {
  flex-basis: 66%;
}

.taskListItem p {
  flex-basis: 20%;
}

.deleteTaskButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 30%;
  height: 2rem;
  /* background-color: #223240; */
  background-color: #de2323;
  color: black;
  font-size: 16px;
  border-radius: 8px;
}

.deleteTaskButton:hover {
  cursor: pointer;
  background-color: rgb(179, 36, 36);
}

.deleteTaskButton p {
  flex-basis: 50%;
}

.priority {
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  word-break: break-all;
}

.addDate {
  font-style: italic;
  font-size: 14px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.binIcon {
  height: 75%;
}

@media (max-width: 768px) {
  .taskListItem {
    width: 95%;
    padding: 1rem 0 0 0;
  }

  .taskListItem h2 {
    font-size: 16px;
  }

  .priority {
    font-size: 12px;
  }

  .addDate {
    font-size: 10px;
  }

  .deleteTaskButton {
    width: 45%;
    margin-bottom: 1px;
  }

  .deleteTaskButton p {
    flex-basis: 80%;
  }
}

@media (min-width: 769px) and (max-width: 1112px) {
  .deleteTaskButton {
    width: 50%;
  }

  .deleteTaskButton p {
    flex-basis: 80%;
  }
}
