.listWrapper {
  margin: 0 auto;
}

.taskList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.information {
  font-size: 26px;
  color: white;
}
