.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorIcon {
  width: 25px;
  margin-right: 10px;
}

.errorInformation {
  margin: 4px 0;
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 600;
}
